# Django
SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=

# Google OAuth
GOOGLE_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_CLIENT_ID=

# PostgreSQL
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Redis
REDIS_URL=redis://redis:6379/0

# CORS (produção)
CORS_ALLOWED_ORIGINS=

# Email Settings (SendGrid)
SENDGRID_API_KEY=
